NODE_ENV=<development || production>

APP_KEYS=BhrbcMW+WYXEeiNtp2pT8w==,FR5I2MeG6Eqd/DsQVuLsWg==,/fZP+wR2WqY6pVPf2h81Rg==,C7ZUyZkuBuNMGDa6au32aQ==
API_TOKEN_SALT=o3ZVvLj2bJkg3gsuCeYGsw==
ADMIN_JWT_SECRET=T/kKZBVotZ5rslOiMPttlQ==
TRANSFER_TOKEN_SALT=SENw2RTQboOClsGSZ7Ra3g==

DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=admin
DATABASE_PASSWORD=Password!123
DATABASE_SSL=<change me>

API_CLIENT_URL=<http://localhost:1337 | https://[domain-name]/strapi>
API_CONTAINER_URL=http://strapi:1337
API_TOKEN_DEVELOPMENT=<change me>
API_TOKEN_PRODUCTION=<change me>